<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Fun</title>
  <link rel="stylesheet" href="../static/style/style.css">
  <link rel="shortcut icon" href="../static/imgs/favicon.ico" type="image/x-icon">
</head>

<body>
  <!-- {% block content %}When you Wanna Use Templating{% endblock %} -->
  <div class="grid">
    <nav class="navbar sticky-top navbar-light bg-light shadow-lg">
      <div class="h1 m-auto">Get Creative!</div>
    </nav>
    <div class="main bg-dark m-auto rounded">
      <div class="p-3 h1 text-white">
        Flask-Nodes-B5 Boiler Plate
      </div>
    </div>
    <footer></footer>
  </div>

</body>

<script src="../static/js/index.js"></script>
<script src="../static/js/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</html>